@tailwind base;
@tailwind components;
@tailwind utilities;


.main-text {
    font-family: 'tupo_vyazregular';
    font-size: 50px;
    text-decoration: underline;
}

@layer components{
    .window-size {
        padding-left: 30%;
        padding-right: 30%;
    };
};
