.image-container {
    width: 100%;
    height: 480px;
    margin: 0 auto;

}

.slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.text-slider {
    font-family: 'tupo_vyazregular';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}




.slider {
    position: relative;
    height: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 100px;
    color: #181818;
    z-index: 1;
    cursor:pointer;
}

.arrow.left {
    left: 32px;
}

.arrow.right {
    right: 32px;
}



.dot-container {
    display: flex;
    position: absolute;
    bottom: 1%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dot {
    margin: 0 3px;
    cursor: pointer;
    font-size: 30px;
    color: #181818;
    border-radius: 25%;
    
}


.slider.back {
    background-image: url(http://localhost:3000/Fifth_seal.jpg);
}
