.title-project {
    font-family: 'Restora';
    font-size: 1.5rem;
}

.color-card-project {
    background-color: #181818;
  }

  .card-main-text {
    font-family: 'RestoraLight';
    /* font-weight: 300; */
}