/* article card styles */

.article-card-container{
  @apply relative text-center border z-[3] hover:lg:border-st88-main hover:z-10 hover:lg:text-st88-main hover:lg:ring-4 hover:lg:ring-st88-main hover:cursor-pointer transition duration-100 ease-in-out lg:transform hover:lg:-translate-y-1 hover:lg:scale-110;
}

.article-card-title {
  font-family: sans-serif, Arial, Helvetica;
  @apply bg-st88-background;
}

.article-card-subtitle {
  font-family:  sans-serif, Arial, Helvetica;
  @apply text-center italic text-sm;
}

/* movie card styles */

.movie-card-container {
  @apply grid grid-cols-2 md:flex-row md:max-w-xl max-w-xs border hover:lg:border-st88-main hover:lg:ring-st88-main hover:lg:ring-4 z-[3] hover:z-10 hover:shadow-2xl transition duration-100 ease-in-out lg:transform hover:lg:-translate-y-1 hover:lg:scale-110 hover:cursor-pointer bg-st88-background;
}

.movie-card-image {
  @apply object-cover lg:w-auto lg:h-72 h-60 w-full;
}
.movie-card-text-container {
  @apply flex flex-col justify-around items-center text-center p-5 leading-normal;
}
.movie-card-original-title{
  @apply italic text-sm;
}
.movie-card-rating{
  margin: 0;
  padding: 0;
  font-size: 11px;
}


/* project card styles */

.project-card-container {
  @apply grid grid-cols-1 md:max-w-xl mx-2 border hover:lg:border-st88-main hover:lg:ring-4 z-0 hover:cursor-pointer hover:z-10 hover:lg:ring-st88-main hover:lg:shadow-2xl transition duration-100 ease-in-out lg:transform hover:lg:-translate-y-1 hover:lg:scale-110;
}

.project-card-image {
  @apply object-cover justify-items-center w-full md:h-[250px] lg:h-[450px] h-[180px];
}

.project-card-title {
  font-family: sans-serif, Arial, Helvetica;
  @apply lg:text-2xl px-1  ;
}