@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Tahoma', 'Open Sans','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}


@font-face {
  font-family: 'tupo_vyazregular';
  src: url('css/tupo_vyaz/tupo-vyaz_regular.ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik_80s_fade';
  src: url('css/Rubik_80s_fade/Rubik80sFade-Regular.ttf');
}

@font-face {
  font-family: 'Terminator_genisys';
  src: url('css/Termimator_genisys/TerminatorGenisys.ttf');
}

@font-face {
  font-family: 'RestoraItalic';
  src: url('css/Restora/Nasir Udin - RestoraThinItalic.otf') format("opentype");
}

@font-face {
  font-family: 'RestoraLight';
  src: url('css/Restora/Nasir\ Udin\ -\ RestoraExtraLight.otf') format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.color-theme {
  @apply bg-st88-background;
}

/* for using responsive variants */
@layer components {
  .icons:hover {
    fill: currentColor;
    @apply text-st88-main;
  }
}

@layer base {
  html {
    font-family: "RestoraLight";
  }
}



.station88 {
  font-family: 'tupo_vyazregular';
  color: white;
  font-weight: 500;
  font-size: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.0rem;
  padding-bottom: 0.25rem;
}

.station88:hover {
  @apply text-st88-secondary;
}

.text-on-image {
  text-align: center;
  font-size: 30px;
  ;
  width: 80%;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%)
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}




