.nav-links {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
  }
  .nav-links:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  }

  .logo {
    width: auto; 
    height: 100%; 
  }

  .img-links {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: solid 1px white;
    border-radius: 50%;
    padding-left: 0.25rem;
    height: 100px;
    width: 100px;
  }