.nav-links {
  line-height: 2.25rem;
  font-weight: 600;
  @apply text-st88-main px-[1.25rem] lg:py-[0.5rem];
  text-align: center;
}

.nav-links:hover {
  @apply lg:text-st88-background;
  @apply lg:bg-st88-main
}

.img-links {
  border: solid 3px white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  display: block;
}

@media (min-width: 960px) {
  .img-links-lg {
    border: solid 3px white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    display: block;
  }
}

.img-links:hover {
  @apply border-st88-main;
};

