.movie-title-post {
    font-family: 'tupo_vyazregular';
    font-weight: 500;
    font-size: 3rem;
}

.movie-original-title-post {
    font-family: 'RestoraItalic';
    font-weight: 500;
    font-size: 2rem;
    padding-top: 0.5rem;
}

.project-title-post {
    font-family: 'tupo_vyazregular';
    font-weight: 500;
    font-size: 3rem;
}

.project-year {
    font-family: 'RestoraItalic';
    font-weight: 500;
    font-size: 2rem;
    padding-top: 0.5rem;
}

.article-poster-container {
    position: relative;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #181818;
}

.article-text-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-text-align .title {
    font-size: 3.5rem;
    font-family: 'tupo_vyazregular';
}

.article-text-align .subtitle {
    font-size: 1.5rem;
    font-family: 'RestoraItalic';
    font-weight: 500;
    font-style: italic;
}

.vertical {
    writing-mode: vertical-rl;
}