.movie-title-post {
    font-family: 'tupo_vyazregular';
}

.movie-original-title-post {
    font-family: 'RestoraItalic';

}

.project-title-post {
    font-family: 'tupo_vyazregular';
}

.project-year {
    font-family: 'RestoraItalic';
}

.article-poster-container {
    position: relative;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #181818;
}

.article-text-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-text-align .title {
    font-family: 'tupo_vyazregular';
}

.article-text-align .subtitle {
    font-family: 'RestoraItalic';
    font-style: italic;
}

.vertical {
    writing-mode: vertical-rl;
}